/*Import font from external source*/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/*Class for text hierarchy*/
._font-lalezar-sm {
  font-family: "Lalezar", sans-serif;
  text-space: 1px;
  font-size: 12px;
}
._font-lalezar-xs {
  font-family: "Lalezar", sans-serif;
  text-space: 0.75px;
  font-size: 10px;
}